.header {
  height: 100vh;

  .navbar {
    height: 100%;
    position: absolute;
    z-index: 30;

    .nav__links {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      position: fixed;
      width: 100%;
      left: 100vw;
      background-color: $beige;
      transition: all .5s ease-out;

      .navbar__item {
        text-align: center;
        z-index: 40;
        filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.08));
      }

      .nav__link {
        font-size: 5rem;
        font-family: $font-1;
        color: $blanc-1;
        i {display: none;}

      }
    }

    .burger-bars {
      position: fixed;
      top: 2rem;
      right: 2rem;
      border: none;
      height: 30px;
      width: 40px;
      cursor: pointer;
      padding: 2.4em;
      background-color: $blanc-2;
      border-radius: 50%;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
      

      .burger-bar {
        width: 40px;
        height: 4px;
        background-color: $beige;
        display: block;
        border-radius: 10px;
        transition: all .3s ease-in-out;
        left: -1.4em;
        position: relative;        

        &::before,
        &::after {
          content: '';
          position: absolute;
          border-radius: 10px;
          display: block;
          background-color: $beige;
          height: 4px;
          width: 40px;
          transition: all .3s ease-in-out;
        }
        
        &::before {
          transform: translateY(-12px);
        }
        
        &::after {
          transform: translateY(12px);
        }
      }
    }
  }
  .show-nav {
    .nav__links {
      width: 100vw;
      left: 0;
    }

    .burger-bars {
      .burger-bar {
        width: 0;
        background-color: transparent;
      }

      .burger-bar::before {
        transform: rotate(46deg) translateX(-1px) translateY(-1px);
      }
      
      .burger-bar::after {
        transform: rotate(-46deg) translateX(-1px) translateY(-1px);
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {
    .navbar {
      .burger-bars { display: none;}

      .nav__links {
        left: unset;
        background-color: transparent;
        right: 2%;
        width: unset;
        align-items: flex-end;
        
        .navbar__item {
          z-index: 40;

          .nav__link {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 100%;
            transition: all .2s ease-out;
            height: 70px;
            background-color: $blanc-2;
            width: 70px;
            font-size: unset;
            border-radius: 35px;
            overflow: hidden;
            
            i {
              display: block;
              font-size: 2.8rem;
              background-color: $blanc-2;
              color: $beige;
              position: absolute;
              height: 70px;
              width: 70px;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              display: grid;
              place-items: center;
              border-radius: 35px;
              transition: all .2s ease-out;
            }
  
            span {
              display: block;
              color: $beige;
              position: absolute;
              right: 75px;
              white-space: nowrap;
              font-size: 3rem;
              transition: all .2s ease-out;
            }
          }
        }
      }
    }
  }
}